/* Reset margins for all elements */
* {
  margin: 0;
  box-sizing: border-box;
}
/* Set font and background styles for the body */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('images/back-ground.png'); */
  color: white;
}
/* Set styles for the header */
 header .header-section {
  position: sticky;
  z-index: 10;
  top: 0px;
  background-color: #060733ad;
  margin-bottom: 50px;
}
.header-section {
  padding: 0.5rem;
}
.header-section h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  font-weight: 700;
}
/* Set styles for the main content */
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* Set styles for the hero text */
.hero-text h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  /* font-style: italic; */
  font-size: 30px;
  color: black;
}
/* Set styles for the image container */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container a {
  color: #c5c0c0;
  font-size: 8px;
}
.hero-image {
  width: 300px;
}
/* Set styles for the form and its input fields */
form {
  display: flex;
}
input {
  width: 130px;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5rem;
  background-color: #cfd4ed;
  border-radius: 0.75rem 0 0 0.75rem;
  border-style: none;
}
input:focus {
  outline: none;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.76));
  padding: 10px;
  font-size: 2.5rem;
  border-radius: 0 0.75rem 0.75rem 0;
  color: #fff;
}
button:hover {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(174, 174, 174, 1));
  color: rgba(72, 49, 157, 1);
}

.weather-data-container {
  position: relative;
  display: none;
  background-color: #9ca4cb;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  flex-direction: column;
  animation-name: slideInFromBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  margin-bottom: 50px;
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}
.weather-data-container header {
  margin-bottom: 50px;
}
.weather-data-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}
.weather-data-label {
  font-weight: bold;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

footer {
  background-color: #060733ad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .hero-text h2 {
    font-size: 20px;
  }
}
